<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>https://njc-download.weiyun.com/ftn_handler/42feeaafe36bd55b293ba0d9119c994e6113bed5938c95c63ef728ce7c9384b7716fb5dfee6b7141170663e0888aa08287c563ecf39a9d579e285aeef10d366c/unc0ver_5.2.1-signed.ipa?fname=unc0ver_5.2.1-signed.ipa&from=30013&version=3.3.3.3</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>https://github.com/abxyap/abxyap.github.io/blob/master/unc0ver/unc0ver%402x.png</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>full-size-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>https://github.com/abxyap/abxyap.github.io/blob/master/unc0ver/unc0ver%402x.png</string>
               </dict>
           </array><key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>com.rubbishflip.Bluetide</string>
               <key>bundle-version</key>
               <string>5.2.1</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>Unc0ver</string>
               <key>title</key>
               <string>Unc0ver</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
